
      <aside class="col-md-5 mb-1">

        <h2 class="mb-1">
          <span class="text-muted">home page of</span>
        </h2>
        <h1 class="mb-1"><a href="index.html">Flavio Rossetti</a></h1>
        <h2 class="mb-1 ps-md-5">Ph.D. Student at</h2>
        <h3 class="mb-4"><a href="https://tecnico.ulisboa.pt/en/">Instituto Superior Técnico</a></h3>
        <h3 class="mb-0"><a href="index.html">flav<!-- 4kh#dfd -->io.<!-- 9h4*ffd -->ros<span style="display: none;" aria-hidden="true">test</span>setti🐌tecnico<!-- eh5je44 -->.u<!-- k2kjb00 -->lisboa<!-- 56d,a3 -->.p<!-- 84((*wf -->t</a></h3>
        <h2 class="mb-1">(replace 🐌 with @)</h2>
        <p class="mb-0">
          <a target="_blank" class="text-emphasis" href="https://orcid.org/0000-0001-5500-2458"><i class="fa-brands fa-orcid" style="display: inline-block; min-height: 21px;"></i></a>
        </p>
        
  
      </aside>

      <script>
        var homel = document.getElementById("home_link");
        var cvl = document.getElementById("cv_link");
        var researchl = document.getElementById("research_link");
        var talkl = document.getElementById("talks_link");
        var miscl = document.getElementById("misc_link");
      </script>

        