
      <aside class="col-md-5">

        <h2 class="mb-1">
          <a class="text-muted" href="/index.html">home page</a>
          <span class="text-muted">of</span>
        </h2>
        <h1 class="mb-1"><a href="index.html">Flavio Rossetti</a></h1>
        <h2 class="mb-1 ps-md-5">Ph.D. Student at</h2>
        <h3 class="mb-4"><a href="https://tecnico.ulisboa.pt/en/">Instituto Superior Técnico</a></h3>
        <h3 class="mb-0"><a href="mailto:">flavio.rossetti🐌tecnico.ulisboa.pt</a></h3>
        <h2 class="mb-1">(replace 🐌 with @)</h2>
        <p class="mb-0">
          <a target="_blank" class="text-emphasis" href="https://orcid.org/0000-0001-5500-2458"><i class="fa-brands fa-orcid" style="display: inline-block; min-height: 21px;"></i></a>
        </p>
        <nav class="d-block mb-4 p-0 navbar navbar-expand-md navbar-light">
          <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="collapsed mt-3 navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
              <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbar">
              <ul class="flex-column ms-md-auto mt-3 nav">
                  
                <li class="nav-item">
                  <a class="d-inline-block nav-link p-0" href="cv.html">CV</a>
                </li>
                
                <li class="nav-item">
                  <a class="d-inline-block nav-link p-0" href="research.html">Research</a>
                </li>
                  
                <li class="nav-item">
                  <a class="d-inline-block nav-link p-0" href="talks.html">Talks</a>
                </li>

                <li class="nav-item">
                  <a class="d-inline-block nav-link p-0" href="misc.html">Miscellaneous</a>
                </li>
                  
              
                  
              </ul>
          </div>
      </nav>
  
      </aside>

        