<!doctype html>
<html class="h-100" lang="en-us" data-bs-theme="dark">
  <head>
  
  {% include head.html %}


  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-light">

        <div class="container-fluid" style="margin-bottom: 2%;">
        <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="collapsed mt-3 navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" style="margin-left:auto; margin-right:auto;" type="button">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul style="width: 100%; text-align:center;" class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">

              <li class="nav-item">
                <a href="/index.html"><strong id="home_link" class="d-inline-block shadowed" style="font-weight:600">Home</strong></a>
              </li>
                
              <li class="nav-item">
                <a href="cv.html"><strong id="cv_link" class="d-inline-block" style="font-weight:600">CV</strong></a>
              </li>
              
              <li class="nav-item">
                <a href="research.html"><strong id ="research_link" class="d-inline-block" style="font-weight:600">Research</strong></a>
              </li>
                
              <li class="nav-item">
                <a href="talks.html"><strong id="talks_link" class="d-inline-block" style="font-weight:600">Talks</strong></a>
              </li>


            </ul>
        </div>
      </div>
    </nav>

    </header>

    <script>
      var homel = document.getElementById("home_link");
      var cvl = document.getElementById("cv_link");
      var researchl = document.getElementById("research_link");
      var talkl = document.getElementById("talks_link");
    </script>

    <div class="container">
      <div class="row">



        {{ content }}

        
        
      </div>
    </div>
  
  
  

  </body>
</html>